    .grid-container {
        display: grid;
        justify-content: space-evenly;
        margin: 50px auto;
        width: 80%;
        grid-template-columns: 22% 22% 22% 22%;
        grid-gap: 10px;
    }
    
    .grid-item {
        padding: 10px;
        margin: 5%;
        font-size: 30px;
        text-align: center;
    }
    
    .item1 {
        grid-row: 1 / 2;
    }
    
    .item2 {
        grid-row: 1 / 3;
    }
    
    .item3 {
        grid-row: 1 / 5;
    }
    
    .item4 {
        grid-row: 2 / 4;
    }
    
    .item5 {
        grid-row: 3 / 6;
    }
    
    .item6 {
        grid-row: 3 / 4;
    }
    
    .item7 {
        grid-row: 4 / 8;
    }
    
    .item8 {
        grid-row: 4 / 8;
    }
    
    .item9 {
        grid-row: 5/9;
    }
    
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .overlay {
        position: absolute;
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .item:hover {
        opacity: 0.5;
    }
    
    .item:hover .overlay {
        opacity: 1;
    }
    
    .img_title {
        position: absolute;
        margin: -50px 50px;
        color: white;
        font-size: 40px;
    }
    /*modal*/
    
    .modal {
        display: block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation - Zoom in the Modal */
    
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }